@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #23374d;
    font-family: 'Open Sans', sans-serif;
}

#topo{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#logo{
    width: 160px;
}

.header{
    background: #0084ff73;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.carroseel{
    margin-top: 15%;
    max-width: 600px;
    margin: auto;
    background: rgba(255, 0, 0, 0);
    padding: 10px;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.285);
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 15px;
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*=====================*/
  #tTitulo{
      text-align: center;
      color: #ffffff;
  }
  .Tsub{
      margin-top: -5px;
  }

  .flex{
      max-width: 800px;
      margin: auto;
      /*background: red;*/

      display: flex;
      flex-wrap: wrap;
  }

  .flex > div{
      flex: 1 0 200px;
      background: #ffffff;
      margin: 10px;
      padding: 5px;
      text-align: center;
      border-radius: 15px;
      border: 1px solid rgba(0, 0, 0, 0.344);
      transition: all 0.5s;
      cursor: pointer;
      filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  }
  .flex > div:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
    z-index: 10;
  }

  .flex > div img{
    width: 100px;
    height: 100px;
}

.irPerfil h4{
    background: #0085ff;
    cursor: pointer;
    padding: 5px;
    color: #ffffff;
    border-radius: 15px;
    transition: all 0.5s;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.447);
}

.irPerfil h4:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
  /*=====================*/

  .loja{
      display: none;
     background: rgba(0, 0, 0, 0.733);
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 20;
  }

  .loja2 img{
    width: 200px;
    margin-bottom: -5px;
  }

  .loja2{
      background: white;
      width: 400px;
      /*height: 350px;*/
      margin: auto;
      padding-bottom: 10px;
      margin-top: 10%;
      text-align: center;
      filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
      border-radius: 15px;
  }

  .anun p{
      border: 1px solid black;
      margin: 10px;
      padding: 5px;
      border-radius: 15px;
      cursor: pointer;
      transition: all 0.5s;
  }
  .anun p:hover{
      background: black;
      color: white;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  }

  .fecha{
      text-align: right;
      margin: 10px;
      cursor: pointer;
  }

  /*=====================*/

  .anunciar img{
      width: 200px;
  }

  .anunciar{
      max-width: 600px;
      margin: auto;
      padding: 10px;
      border-radius: 15px;
      text-align: center;
      color: white;
      cursor: pointer;
      filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));

      background-image: linear-gradient(  to bottom right,
      #4affde 0%, #5b9dff 40%, #0085ff 60%, #23374d 100% );
      background-size: 200% 200%;
      animation: movigGradient 5s linear infinite alternate;
  }
  @keyframes movigGradient {
      from{background-position: 0 0;}
      to {background-position: 100% 100%;}
  }

  .conto{
      max-width: 600px;
      margin: auto;
      padding: 10px;
      border-radius: 15px;
      background: white;
      text-align: center;
      filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  }

  .contato{
    display: none;
    background: rgba(0, 0, 0, 0.733);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

  .contato2{
      background: #ffffff;
      max-width: 500px;
      margin: auto;
      margin-top: 10%;
      padding: 10px;
      text-align: center;
      border-radius: 15px;
      filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  }

  .contato2 img{
      width: 100px;
  }
  #tNome{
      border-radius: 15px;
      padding: 5px;
      padding-left: 30px;
      padding-right: 30px;
      margin: 10px;
      box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.493);
      border: 1px solid rgba(0, 0, 0, 0.159);
      outline: 0;
  }
  #tTel{
    border-radius: 15px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.493);
    border: 1px solid rgba(0, 0, 0, 0.159);
    outline: 0;
  }

  .sobre{
      background: #ffffff;
      max-width: 600px;
      margin: auto;
      padding: 8px;
      border-radius: 15px;
      box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.493);
  }
  .sobre h2{
      text-align: center;
  }

  .apoioPago{
      text-align: center;
      border: 1px solid black;
      margin: 10px;
      border-radius: 15px;
      cursor: pointer;
  }


  footer{
      background: black;
      color: white;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  footer p{
      cursor: pointer;
  }

  #apoio{
      border: 1px solid #ffffff;
      border-radius: 15px;
      padding: 10px;
  }

  /*=====================*/

  @media(max-width: 600px){

    .anunciar{
        width: auto;
        margin: 10px;
    }
    .anunciar img{
        width: 150px;
    }
    .conto{
        width: auto;
        margin: 10px;
    }

    .loja2{
        width: auto;
        margin: 15px;
        margin-top: 20%;
    }

    .contato2{
        width: auto;
        margin: 15px;
        margin-top: 20%;
    }
  }